@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Styles (Optional) */
@layer components {
  .btn-primary {
    @apply bg-tech-primary text-white font-bold py-2 px-4 rounded transition hover:bg-tech-secondary;
  }
}
